{%extends 'base.html' %}

{% block content %}
<div class="container mt-3 mb-3">
    <h3>Laissez nous vos messages !! </h3>
    <hr>
    <img src="https://www.60millions-mag.com/sites/default/files/styles/hp_full_desktop/public/istock-996422284.jpg?itok=2WsOP1TS" alt="" style="width:100%">
</div>
<div class="container text-center"> 
    <p>
        FLC  a pour mission de connecter les voyageurs entre eux pour rendre la découverte du monde plus abordable et plus sympathique.
    </p>
    <p>
        Plateforme communautaire de confiance, nous vous donnons la possibilité de lister, découvrir et réserver des voyages à travers le monde, seul ou à plusieurs. 
    </p>
    <p>
        La communauté de FLCeurs peut ainsi réserver des voyages organisés (circuits, weekends, croisières, séjours) ou créer son propre voyage sur-mesure avec nos conseillers spécialisés. 
    </p>
    <p>
        <strong>FLC</strong>  offre également la possibilité de <strong>baisser le prix</strong>  de son séjour en le partageant avec son entourage. Ainsi, plus les participants à un voyage sont nombreux, plus <strong> le prix est dégressif</strong>. 
    </p>
    <p>
        A la suite de la composition d’un groupe, chacun peut réserver sa propre place en réglant un acompte et en bénéficiant de solutions de paiement inédites, à savoir :
        <hr>
        <ul>
            <li>
                Le paiement partagé, à savoir la réservation d’un séjour pour plusieurs personnes en réglant seulement sa place, sans devoir avancer les frais des autres participants.
            </li>
            <li>
                Le paiement fractionné illimité, avec le versement d’un premier acompte puis le règlement restant en autant de fois que souhaité jusqu’à 45 jours avant le départ.
            </li>
            <li>
                La pose d’option avant réservation définitive.
            </li>
        </ul>
    </p>
    <hr>
    <p>
        <strong> Avec  FLC, connectez-vous et partez ensemble à la découverte du monde !</strong>
    </p>

</div>

{% endblock %}