<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Email From FLC Programmeur</h3>
    
    <strong> Votre email {{ email }} </strong>
    <br>
    <strong> Bienvenu {{ lst }} {{ frst }} a FLC </strong>
    <br>
    <p>  Votre inscription a été faite avec succes . <br> Et la famille FLC est heureuse de 
        t'acceuillir parmis nous.
    </p>
    <em> FLC programmeur email societeflc@gmail.com</em>
</body>
</html>